$date-picker-width-desktop:180px;
$date-picker-height-desktop:220px;
$date-picker-height-desktop-scrollables:190px;

$date-picker-width-mobile:130px;
$date-picker-height-mobile:170px;
$date-picker-height-mobile-scrollables:140px;

$picker-top-position-desktop:25px;
$picker-top-position-mobile:10px;


$text-fields-border-color:#263238;

$mobile-max-height:320px;