@import '../general-modal/general-modal';
@import "./vars";



.simple-react-date-selector{

    font-size:14px !important;

    input[type=text]{
        border:1px solid $text-fields-border-color;
        color:$text-fields-border-color;
        padding:15px;
        cursor:pointer;
    }

    .simple-react-date-selector-datepickers
    {
        font-family:"Roboto", "Helvetica", "Arial", sans-serif !important;
        background-color:white;
        width:$date-picker-width-desktop;
        height:$date-picker-height-desktop;
        margin: $picker-top-position-desktop auto 0;

        @media screen and (max-height:$mobile-max-height) {
            width:$date-picker-width-mobile !important;
            height:$date-picker-height-mobile !important;
            margin-top:$picker-top-position-mobile !important;
        }

        border-radius:15px;
        box-sizing:border-box;
        padding-top:15px;
        
        .simple-react-date-selector-scrollables{
            overflow-y:auto;
            height:$date-picker-height-desktop-scrollables;
            width:$date-picker-width-desktop;

            @media screen and (max-height:$mobile-max-height) {
                height:$date-picker-height-mobile-scrollables !important;
                width:$date-picker-width-mobile !important;
            }

            padding:0 15px 15px;
            text-align:center;  

            .simple-react-date-selector-selection-heading{
                font-size:1.5em;
                border-bottom:1px solid black;
                padding:15px;
                background-color:white;
                position:sticky;
                top:0;
            }
        
            .simple-react-date-selector-selections{
                cursor:pointer;
                margin:5px 0;
                line-height: 3;
                
                &:hover{
                    color:green; 
                }
            }
        }

        .simple-react-date-selector-selections-made-container{
            margin:32px 0 0;
            width:$date-picker-width-desktop;

            @media screen and (max-height:$mobile-max-height) {
                width:$date-picker-width-mobile !important;
            }

            border-radius:15px;
            background-color:white;

            .simple-react-date-selector-selections-made{
                width:90%;
                margin:0 auto;
                border-collapse: collapse !important;
                height: 50px;
            
                td{
                    width:33%;
                    padding:10px;
                    border-width:0 !important;
                    text-align: center;
                }
            }
        }
    }
}